<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">
      <span class="glyphicon glyphicon-send"> Conócenos!<span>
    </a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-4">
      <div class="page-header">
        <h2 style="display:inline;">Título #1</h2>
        <span class="label label-default">New</span>
      </div>
      <p>Find me in app/views/main/index.html.erb</p>
    </div>
    
    <div class="col-md-4">
      <div class="page-header">
        <h2>Título #2</h2>
      </div>
      <p>Find me in app/views/main/index.html.erb</p>
    </div>
    
    <div class="col-md-4">
      <div class="page-header">
        <h2>Título #3</h2>
      </div>
      <p>Find me in app/views/main/index.html.erb</p>
    </div>

    <div class="container">
      <div class="row">
        <hr>
      </div>
    </div>

  </div>
</div>


