<footer class="estilo-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">Texto #1</div>
			<div class="col-md-4">Texto #2</div>
			<div class="col-md-4">Texto #3</div>
		</div>
	</div>
</footer>